<div class="item" data-name="<%= name %>" data-price="<%= price.toFixed(2) %>">
  <div>
    <div class="name"><%= name %></div>
    <div class="desc"><%= desc %></div>
  </div>
  <div class="price">€ <%= price.toFixed(2).replace('.', ',') %></div>
  <div class="qty">
    <button class="btn small" onclick="dec('<%= name %>')">−</button>
    <span id="q-<%= name.replace(/[^a-z0-9]+/gi,'_') %>">0</span>
    <button class="btn small" onclick="inc('<%= name %>', <%= price %>)">+</button>
  </div>
</div>
